.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

.container h3 {
    font-weight: normal;
    color: red;
}

img {
    border: 3px solid black;
    border-radius: 20px;
    opacity: 0.5;
    width: 500px;
    transition: 0.25s ease-in-out
}

img:hover {
    opacity: 1;
} 

button {
    cursor: pointer;
    transition: 0.25 ease-in-out;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: black;
    outline: none;
}

button:hover {
    background-color: purple;
}


