body{ background-color: #0E2626;
color: white;}


/* Color Theme Swatches in Hex */
.Christian-Tagliavini-Portfolio-1-hex { color: #0E2626; }
.Christian-Tagliavini-Portfolio-2-hex { color: #BF9C88; }
.Christian-Tagliavini-Portfolio-3-hex { color: #8C6151; }
.Christian-Tagliavini-Portfolio-4-hex { color: #400B06; }
.Christian-Tagliavini-Portfolio-5-hex { color: #260101; }
