* {
    font-family: Helvetica;
}

/* h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 2.5;

    background-color: #54887a;
    text-align: center;
    color: #ebe8cf;

    text-align: center;
    padding-top: 20px;
    padding:10px;
} */

body {
  color: white;

/* light grey */
/* background-color: slategrey !important; */

/* black */
/* background-color: #0f0f0a !important; */

/* blue */
/* background-color: #325886 !important; */
/* background-color: #1d252d !important; */
    background-image: url(https://i.imgur.com/3tyjAPB.jpg) !important;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    /* adds gap between nav bar and jumbotron */
    margin-bottom: 20px;
}

footer {
    position: static;
    bottom: 0px;
    width: 100%;
    height: 50px;

    background-color: black;
    text-align: center;
    color: ghostwhite;

    text-align: center;
    padding-top: 20px;
    font-size: large;
}

p {
    font-family: Helvetica;
    font-size: large;
}

div.card{
  color: white;
  background-color: transparent;
}

.jumbotron {
    color: white;
    text-align: center;
    /* slims the jumbotron, adds border to top */
    padding: 1em 0 0;
}
/* slims jumbotron */
hr {
    padding: 0.5em;
    margin-top: 0;
}