* {
    font-family: Helvetica;
}


body {
  color: white;


    background-image: url(https://i.imgur.com/3tyjAPB.jpg) !important;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
input.img-thumbnail{
    background: transparent;
    border: transparent;
}

nav {
    /* adds gap between nav bar and jumbotron */
    margin-bottom: 20px;
    width: 100vw !important;
}

.jumbotron {
    color: white;
    text-align: center;
    /* slims the jumbotron, adds border to top */
    padding: 1em 0 0;
}
/* slims jumbotron */
hr {
    padding: 0.5em;
    margin-top: 0;
}

footer {
    position: static;
    bottom: 0px;
    width: 100%;
/*#202020 is darker grey, #303030 is lighter*/
    background-color: #282828;
    text-align: center;
    color: ghostwhite;
    padding-top: 20px;
    font-size: large;
}

.footer__nav__list {
    list-style-type: none;
    /*Would center but it doesn't center in line with the titles...*/
    text-align: justify;
    font-size: medium;
}

p {
    font-family: Helvetica;
    font-size: large;
}


div.card-ticket{
    color: #000000;
    background-color: #444444;
    border: transparent;
    display: float;
    position: relative;
    width: 50%;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -00%);
  }
  
  div.card-body-ticket{
    color: #000000;
    background-color: #444444;
    border: transparent;
    display: float;
    position: relative;
    width: 100%;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -00%);
  }

div.card{
  color: white;
  background-color: transparent;
  border: transparent;
}


.movie-card {
    margin: 0;
    padding: 10px;
    border: 1px solid gray;
    background-color: lightblue;
}

@media screen and (min-width: 600px) {
    .movie-card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .movie-card {
        flex: 1 1 calc(33% - 2rem);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

