<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/placeholderImg.css" />

    <title>GallaryTest</title>
    
</head>

<body>

    <div class="container">
        <h3>Welcome to our movie API project</h3>
        <img src="../../static/img/not-found.png">
        <hr>
        <button>Click me to generate a new movie</button>
    </div>
    
</body>
</html>


